{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('content/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="w3-button" href="{{ path('app_profil') }}">back to list</a>

    {{ include('content/admin/_deleteprofil_form.html.twig') }}
{% endblock %}