{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}
{% block body %}
    <div class="w3-row">
        <div  class="w3-third w3-container w3-margin-top">
            <a href="{{ path('app_admin_profil') }}" style="text-decoration:none;">
                <div class="w3-card-4">
                    <div class="w3-container" >
                    <p style="text-align: center;">Admin utilisateur</p>
                    </div>

                </div>
            </a>
        </div>
        <div  class="w3-third w3-container w3-margin-top">
            <a href="{{ path('app_category_index') }}" style="text-decoration:none;">
                <div class="w3-card-4">
                    <div class="w3-container" >
                    <p style="text-align: center;">les catégories</p>
                    </div>
                </div>
            </a>
        </div>
        <div  class="w3-third w3-container w3-margin-top">
            <a href="{{ path('app_brand_index') }}"  style="text-decoration:none;"> 
                <div class="w3-card-4">
                    <div class="w3-container" >
                    <p style="text-align: center;">les marques</p>
                    </div>
                </div>
            </a>
        </div>
    </div class="w3-row">
{% endblock %}
