{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}
{% block body %}
    <div class="w3-row">
        <div  class="w3-third w3-container w3-margin-top">
        <a href="">
            <div class="w3-card-4">

            <div class="w3-container" >
            {# <img class="w3-border" style="width:100%" src="{{asset(product.image)}}" alt="{{ product.name }}"> #}
            <p><strong>le résumer: </strong></p>
            </div>

            </div>
        </div>
        </a>
    </div class="w3-row">
{% endblock %}
