{% extends 'base.html.twig' %}

{% block title %}Edit Cartproducts{% endblock %}

{% block body %}
    <h1>Edit Cartproducts</h1>

    {{ include('cartproducts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cartproducts_index') }}">back to list</a>

    {{ include('cartproducts/_delete_form.html.twig') }}
{% endblock %}
