{% extends 'base.html.twig' %}

{% block title %}New Cartproducts{% endblock %}

{% block body %}
    <h1>Create new Cartproducts</h1>

    {{ include('cartproducts/_form.html.twig') }}

    <a href="{{ path('app_cartproducts_index') }}">back to list</a>
{% endblock %}
